body, html {
  background-color: #EBECF0;
}

body, li, input, button {
  font-family: 'Lato', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li{
  color: #61677C;
  text-shadow: 1px 1px 1px #EBECF0;
  list-style-type: none;
  margin-bottom: 16px;
  
}

form {
  padding: 16px;
  width: 70%;
  margin: 0 auto;
}

.segment {
  padding: 16px*20;
  text-align: center;
}

button, input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 16px;
  padding: 16px;
  background-color:#EBECF0;
  text-shadow: 1px 1px 0 #FFF;
  margin-bottom: 16px;
}

input {
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input:focus {
  box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
  
button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  
  button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }

.crossed {
  text-decoration: line-through 2px red;
}